
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');

body {
   font-family: 'Source Sans Pro', sans-serif;
   background-color: #f9f4ef;
   color:#716040;
}
h1{
   font-family:'Cabin Condensed', sans-serif;
   color: #ee9300c1;
   text-align: center;
}

a{
   text-decoration: none;
   color:#8c7851
}

a:hover{
   background-color:#fffffe;
}

#header{
   background-color:honeydew;
}

.center {
   text-align: center;
}

#Bar{
   background-color: rgba(225, 225, 225, 0.792);
   
}

#Bar > a{
   color:#964B;
   padding: 8px;
   display: inline-block;
} 
#Bar > a:hover{
   background-color: rgba(255, 226, 109, 0.816);
}
