
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');

body {
   font-family: 'Source Sans Pro', sans-serif;
   background-color:rgb(0, 131, 131);
   color:#def4e4;
   margin: 0 auto;
}

main{
   max-width: 700px;
   margin: 0 auto;
}

h1{
   font-family:'Cabin Condensed', sans-serif;
   color: #069a21c4;
   text-align: center;
}

a{
   text-decoration: none;
   color:#f6f8f6
}

a:hover{
   background-color:#ffffff;
}

#header{
   background-color: honeydew;
}

.center {
   text-align: center;
}

#Bar{
   background-color:rgb(9, 164, 211);
   
}

#Bar > a{
   color:rgb(255, 255, 255);
   padding: 8px;
   display: inline-block;
} 
#Bar > a:hover{
   background-color: rgba(44, 166, 147, 0.968);
}


input[type=submit] {
background-color: #ffffff;
}

input[type=reset]{
   background-color: #ffffff;
}
input{
   padding: 5px;
}
input[type=text]{
     width: 300px;
     padding: 8px;
     border: #1a7505 solid;
     border-radius: 20px;
     border-radius: 25px;
}

@media screen and (max-width: 480px ) {
   body{
      background-color: rgb(4, 171, 171);
   }
}

@media screen and (max-width: 480px){
   #LD_img{
      width: 100vw;
      height: auto;
   }
   #Bar{
      text-align: center;
   }
   #BadPhoto_img{
      float: none;
      display: none;
   }
   
}