
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');

body {
   font-family: 'Source Sans Pro', sans-serif;
   background-color:darkslategrey;
   color:#fcfcfc;
   margin: 0 auto;
}

main{
   max-width: 700px;
   margin: 0 auto;
}

h1{
   font-family:'Cabin Condensed', sans-serif;
   color: #ee9300c1;
   text-align: center;
}

a{
   text-decoration: none;
   color:#8c7851
}

a:hover{
   background-color:#000000;
}

#header{
   background-color:honeydew;
}

.center {
   text-align: center;
}

#Bar{
   background-color:honeydew;
   
}

#Bar > a{
   color:#964B;
   padding: 8px;
   display: inline-block;
} 
#Bar > a:hover{
   background-color: rgba(255, 226, 109, 0.816);
}


input[type=submit] {
background-color: #e7aa31;
}

input[type=reset]{
   background-color: #e7aa31;
}
input{
   padding: 5px;
}
input[type=text]{
     width: 360px;
     padding: 8px;
     border: #1a7505 solid;
     border-radius: 20px;
     border-radius: 25px;
}
